<div class="mt-4">
  <form method="POST">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Enter search..."
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>